.node {
  width: 25px;
  height: 25px;
  outline: 1px solid grey;
  display: inline-block;
}
.node-finish {
  background-color: red;
}
.node-start {
  background-color: green;
}
.node-wall {
  background-color: rgb(12, 53, 71);
}

/* lagging on wall animation- check it later */
/* .node-wall {
  animation-name: wallAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgb(12, 53, 71);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(12, 53, 71);
  }

  100% {
    transform: scale(1);
    background-color: rgb(12, 53, 71);
  }
} */
